div{
  margin: 200px;
  color:green;
  display: flex;
  justify-content: center;
  align-items: center;
}

#div1{
  margin: 200px;
  color: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
}
